@tailwind base;
@tailwind components;
@tailwind utilities;

body {
/*  font-family: sans-serif;*/
/*    background: red;*/
/*    bg-slate-800;*/

}

/*#html {
    background: red;

}*/

/*@layer base {
    .dark {
        @apply bg-slate-800;
    }
}*/

/* Here mostly for reference (redefined in some specific components) */
@layer components {
    .default-style {
        @apply bg-gray-100 text-zinc-900;
        @apply select-none;
    }
    .dark.default-style {
        @apply bg-zinc-900 text-zinc-300;
    }

    .hover.default-style {
        @apply bg-gray-200 text-zinc-800;
    }
    .hover.dark.default-style {
        @apply bg-zinc-800 text-zinc-400;
    }
}